/* reset styles */
* {
    margin: 0;
    padding: 0;
    padding: 0;
}

/* general syles for h1, h2, etc */
body {
    text-align: center;
    background-color: #EAF6F6;
}
h1 {
    font-family: 'Sacramento', 'Brush Script MT', cursive;
    font-size: 5rem;
    line-height: 2;
    margin: 50px auto 0 auto;
}
h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    font-weight: normal;
    padding-bottom: 10px;
}
h3 {
    font-family: 'Bitter', 'Times New Roman', serif;
}
hr {
    border: dotted rgba(53, 79, 82, .3) 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
}
a, button, li{
    font-family: 'Montserrat', Arial, sans-serif;
    color: #cad2c5;
    text-decoration: none;
    font-size: 18px;
}
p {
   font-family: 'Bitter', 'Times New Roman', serif;  
}

/* header and nav styles */
header {
    background-color: #354F52;
    padding: 10px 8%;
    text-align: center;
}
.logo {
    margin-right: auto;
}
.sitenavigation li {
    display: inline-block;
    padding: 1em;
    transition-timing-function: ease-in;
    transition-duration: 0.2s;
}
.sitenavigation li:hover {
    transform: scale(1.2);
}
.sitenavigation a:hover {
    color: #84a98c;
}

/* top container styles */
.top-container {
    background-color: #EAF6F6;
    position: relative;
    padding-top: 25px;
    width: 100%;
}
.mountain {
    width: 75%;
    margin-top: 5em;
}

/* about me styles */
#aboutme {
    background-color: white;
    padding: 1em;
    box-shadow: 10px 5px 5px lightgrey;
    border-radius: 0.5rem;
}
#aboutme img {
    border-radius: 50%;
    height: 300px;
    margin-top: 2.5em;
    margin-bottom: 2.5em;
}
#aboutme table {
    margin: 3em auto;
    border-collapse: collapse;
    width: 90%;
    font-family: 'Bitter', 'Times New Roman', serif;
}
#aboutme td {
    height: 30px;
}
#aboutme th {
    height: 60px;
    font-size: 1.25rem;
}


/* middle container styles */
.middle-container{
    max-width: 90%;
    margin: 0 auto;
}
#projects h2 {
    margin-bottom: 1em;
}

/* project card styles*/
.project_grid {
    display: grid;
    gap: 2rem;
    margin-inline: auto;
}
.project_card {
    box-shadow: 10px 5px 5px lightgrey;
    border-radius: 0.5rem;
    padding-bottom: 2rem;
    background-color: white;
}
.project_card img {
    height: 30vh;
    width: 100%;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    padding-bottom: 1rem;
    display: none;
}
.project_card p {
    padding: 0.5rem;
}

/* form styles */
.contactform {
    display: flex;
    justify-content: center;
    margin-top: 3em;
    margin-bottom: 3em;
}
legend {
    font-family: 'Montserrat', Arial, sans-serif;
    font-size: 1em;
    padding: 25px;
}
fieldset {
    border: none;
    margin: 30px;
}
input, textarea {
    font-size: 14px;
    font-weight: 500;
    border: none;
    border-bottom: 2px solid #cad2c5;
    width: 100%;
    padding: 4px 0;
}
.textfieldset input:focus, .textfieldset textarea:focus {
    outline: none;
    box-shadow: 0 2px 0 0 #bcc4b7;
}
.radiofieldset {
    font-size: 14px;
    font-weight: 500;
    font-family: 'Montserrat', Arial, sans-serif;
}

/* button styles */
button {
    padding: 10px 20px;
    background-color: rgba(82, 121, 111, 1);
    border: none;
    border-radius: 50px;
    margin-top: 10px;
}
button:hover {
    background-color: rgba(82, 121, 111, 0.7);
}
form {
    background-color: white;
    padding: 1em;
    box-shadow: 10px 5px 5px lightgrey;
    border: 1px solid grey;
    border-radius: 1%;
}

/* footer styles */
.bottom-container {
    padding: 10px 8%;
    background-color: #2f3e46;
    text-align: center;
}
.copyright-text {
    color: #EAF6F6;
    font-size: 0.75rem;
    padding: 20px 0px;
}

@media screen and (min-width: 720px) {
    header {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    .middle-container {
        max-width: 50%;
    }
    .project_card img {
        height: 30vh;
        width: 100%;
        border-top-left-radius: 0.5rem;
        border-top-right-radius: 0.5rem;
        padding-bottom: 1rem;
        display: block;
    }
}
@media screen and (min-width:1020px) {
    .project_grid {
        grid-template-columns: repeat(3, 1fr);
    }
    #aboutme table {
        width: 50%;
    }
}